.form-field {
 background-color: grey;
}

.field::placeholder {
  color: brown;
}

.field:focus {
background-color: yellow;
}

/* :valid*/
.field:invalid {
  border: 1px solid red;
}

.field:checked ~ .form__label {
 color: green;
}

.form__button:disabled {
  opacity: 0.8;
}

